
<!DOCTYPE html>
<html lang="eng">  

  <head>
    <!--Head include!-->
    <%-include('./Common/head')%>
    <link rel="stylesheet" href="<%=resources%>/g.assets/css/informational.css">
    <link rel="stylesheet" href="<%=resources%>/g.assets/css/responsive.css">  
  </head>

  <body class="preloading">

    <div class="content">
      <!--Menu include!-->
      <%-include('./Common/menu', { page : pageName , user : currentUser })%>

      <div class="single">
        <div class="ui segment">
          <h3 class="header">
            <b>FAQ</b>
          </h3>

          <div class="question-wrap">
              <div class="question">
                How to sign up ?
              </div>
              <div class="answer">
              
              </div>
          </div>
        </div>
      </div>

      <%-include('./Common/each')%>
      <%-include('./Common/footer')%>
    </div>
  </body>

  <!--Scripts include!-->
  <%-include('./Common/scripts')%>
  <script src="<%=resources%>/u.assets/js/contact.js" charset="utf-8"></script>

</html>
