<!DOCTYPE html>
<html>

  <!--Head include!-->
  <head>  
    <link href="https://fonts.googleapis.com/css?family=Mukta:400,500,600,700,800&amp;subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
    <%-include('./Common/mobile')%>
    <%-include('./Common/head')%>
    <link rel="stylesheet" href="<%=domain%>/g.assets/css/responsive.css">
  </head>

  <body>

    <div class="content">
      <!--Menu include!-->
      <%-include('./Common/menu', { page : pageName , user : currentUser })%>
      <div class="row products">
          <div class="col-md-4 col-lg-3">
            <div class="stock header">
              Auctions
            </div>
            <div class="ui segment categories stock">
              <div class="list stock_list">
                <div class="list_item top_level" data-popup="women_clothing">
                  <span class="icon"><img src="<%=domain%>/u.assets/img/LinearIcons/dress.png" alt=""></span>
                  <span class="text">Women's Clothing</span>
                </div>
                <div class="list_item top_level" data-popup="men_clothing">
                  <span class="icon"><img src="<%=domain%>/u.assets/img/LinearIcons/polo.png" alt=""></span>
                  <span class="text">Men's Clothing</span>
                </div>
                <div class="list_item top_level" data-popup="watches">
                  <span class="icon"><img src="<%=domain%>/u.assets/img/LinearIcons/watch.png" alt=""></span>
                  <span class="text">Jewelry & Watches</span>
                </div>
                <div class="list_item top_level" data-popup="bags">
                  <span class="icon"><img src="<%=domain%>/u.assets/img/LinearIcons/hand-bag.png" alt=""></span>
                  <span class="text">Bags & Shoes</span>
                </div>
                <div class="list_item top_level" data-popup="health">
                  <span class="icon"><img src="<%=domain%>/u.assets/img/LinearIcons/purse.png" alt=""></span>
                  <span class="text">Health & Beauty, Hair</span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-8 col-lg-9 row pins">
            <div class="empty">
              <div class="loader"></div>
              <span> Waiting for new auction items... </span>
            </div>
          </div>

      </div>
        
      <div id="waiterModal" class="my-modal mini">
          <div class="body">
            <h2 class="ui header main">
              <div class="content">
                Are you here ?
              </div>
            </h2>
            <h4 class="ui header main wrap"></h4>          
            <div>
                <img class="" src="<%=domain%>/g.assets/img/icon/hourglass.png" alt="" />
            </div>
            <div class="holder">       
                <button class="ui submit button"> Yes </button>     
            </div>  
          </div>
      </div>

      <%-include('./Common/each', { login :  login ? true : false })%>
      <%-include('./Common/footer')%>
    </div>


  </body>

  <!--Head include!-->
  <%-include('./Common/scripts')%>
  <script src="<%=domain%>/u.assets/js/engine/activity.js"></script>
  <script src="<%=domain%>/u.assets/js/engine/auction.js"></script>


</html>