<!DOCTYPE html>
<html>

  <!--Head include!-->
  <head>  
    <link href="https://fonts.googleapis.com/css?family=Mukta:400,500,600,700,800&amp;subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
    
    <%-include('./Common/mobile')%>
    <%-include('./Common/head')%>
    <link rel="stylesheet" href="<%=resources%>/g.assets/css/responsive.css">
  </head>

  <body class="preloading">

    <div class="content">
      <!--Menu include!-->
      <%-include('./Common/menu', { page : pageName , user : currentUser })%>
      
      <div class="row products">
          <div class="col-md-4 col-lg-3 auction-row">
            <div class="stock header">
              Auctions
            </div>
            <div class="ui segment categories stock">
              <div class="stock_list menu">
                
                <div class="list_item auction_item item active" data-tab="featured">
                    <span class="icon font">
                      <i class="fa fa-star" aria-hidden="true"></i>
                    </span>
                    <span class="text"> Featured auctions </span>
                </div>
                <div class="list_item auction_item item" data-tab="reserved">
                    <span class="icon font">
                      <i class="fa fa-bolt" aria-hidden="true"></i>
                    </span>
                    <span class="text"> Reserved auctions </span>
                </div>

                <div class="ui section divider"></div>
                
                <%categories.popups.forEach(ct => {%>
                  <div class="list_item auction_item item" data-tab="<%=ct.url%>">
                    <span class="icon">
                      <img src="<%=ct.image%>" alt="<%=ct.name%>"/>
                    </span>
                    <span class="text"> <%=ct.name%> </span>
                  </div>
                <%})%>
         
              </div>
            </div>
          </div>

          <div class="col-md-8 col-lg-9"> 
            <div class="ui attached tab auction_block row active" data-tab="featured">
              <div class="empty">
                <div class="loader"></div>
                <span> Waiting for <b>All Featured</b> auction items... </span>
              </div>
            </div>
            <div class="ui attached tab auction_block row" data-tab="reserved">
              <div class="empty">
                <div class="loader"></div>
                <span> Waiting for <b>All Reserved</b> auction items... </span>
              </div>            
            </div>

            <%categories.popups.forEach(ct => {%>
                  <div class="ui attached tab auction_block row" data-tab="<%=ct.url%>">
                      <div class="empty">
                        <div class="loader"></div>
                        <span> Waiting for <b><%=ct.name%></b> auction items... </span>
                      </div>
                  </div>
            <%})%>
          </div>

      </div>
        
      <div id="waiterModal" class="my-modal mini">
          <div class="body">
            <h2 class="ui header main small">
              <div class="content">
                Inactive <br> 
                Do you wish to continue?
              </div>
            </h2>
            <h4 class="ui header main wrap"></h4>          
            <div class="custom-small-image">
                <img src="<%=resources%>/g.assets/img/icon/hourglass-2.png" alt="" />
            </div>
            <div class="holder">       
                <button class="ui submit button"> Yes </button>     
            </div>  
          </div>
      </div>
      <div id="errorModal" class="my-modal mini">
          <div class="body">
            <h2 class="ui header main small">
              <div class="content">
                Ooopss... <br> 
                Sellers can't post bids
              </div>
            </h2>
            <h4 class="ui header main wrap"></h4>          
            <div class="custom-small-image">
                <img class="" src="<%=resources%>/g.assets/img/icon/locked-2.png" alt="" />
            </div>
            <div class="holder">       
                <button class="ui submit button"> Sure </button>     
            </div>  
          </div>
      </div>

      <%-include('./Common/each', { login :  login ? true : false })%>
      <%-include('./Common/footer')%>
    </div>

    <div class="nag-container">

      <div class="ui inline nag" id="cookie_nag">
        <span class="title">
          We use cookies to ensure you get the best experience on our website
        </span>
        <i class="close icon"></i>
      </div>

      <div class="ui inline nag green" id="usd_nag">
        <span class="title">
          Just Bid Live uses USD as main currency for all transactions and descriptions.
        </span>
        <i class="close icon"></i>
      </div>

    </div>
    

  </body>

  <!--Head include!-->
  <%-include('./Common/scripts')%>
  <script src="<%=resources%>/u.assets/js/engine/activity.js"></script>
  <script src="<%=resources%>/u.assets/js/engine/auction.js"></script>

</html>