
<!DOCTYPE html>
<html>

  <!--Head include!-->
  <%-include('./Common/head')%>
  <link rel="stylesheet" href="../GeneralAssets/css/responsive.css">

  <body>

    <div class="content">
      <!--Menu include!-->
      <%-include('./Common/menu', { page : pageName })%>
     
      <div class="row products">

        <div class="col-md-4 col-lg-3" >
            <div class="stock header">
               Categories
            </div>
            <div class="ui segment categories stock">
              <div class="list stock_list">
                <div class="list_item top_level" data-popup="women_clothing">
                  <span class="icon"><img src="../UserAssets/img/LinearIcons/dress.png" alt=""></span>
                  <span class="text">Women's Clothing</span>
                </div>
                <div class="list_item top_level" data-popup="men_clothing">
                  <span class="icon"><img src="../UserAssets/img/LinearIcons/polo.png" alt=""></span>
                  <span class="text">Men's Clothing</span>
                </div>
                <div class="list_item top_level" data-popup="watches">
                  <span class="icon"><img src="../UserAssets/img/LinearIcons/watch.png" alt=""></span>
                  <span class="text">Jewelry & Watches</span>
                </div>
                <div class="list_item top_level" data-popup="bags">
                  <span class="icon"><img src="../UserAssets/img/LinearIcons/hand-bag.png" alt=""></span>
                  <span class="text">Bags & Shoes</span>
                </div>
                <div class="list_item top_level" data-popup="health">
                  <span class="icon"><img src="../UserAssets/img/LinearIcons/purse.png" alt=""></span>
                  <span class="text">Health & Beauty, Hair</span>
                </div>
              </div>
            </div>
        </div>

        <div class="col-md-8 col-lg-9 row pins">
          
        </div>

      </div>

      <%-include('./Common/each')%>
      <%-include('./Common/footer')%>
    </div>


  </body>

  <!--Head include!-->  
  <%-include('./Common/scripts')%>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
  <script src="../UserAssets/js/Auction/auction.js"></script>
   

</html>
