<!DOCTYPE html>
<html>

    <head>
        <!--Head include!-->
        <%-include('./Common/mobile')%>
        <%-include('./Common/head')%>
        <link rel="stylesheet" href="../UserAssets/css/user.css" />
        <link rel="stylesheet" href="../GeneralAssets/css/orders.css" />
        <link rel="stylesheet" href="../GeneralAssets/css/responsive.css">
    </head>
    <body>
        <div class="content">
            <!--Menu include!-->
            <%-include('./Common/menu', { page : pageName , user : currentUser })%>
            <div class="row products">
              <div class="col-md-3">
                <div class="ui vertical menu profiler tabs head">
                    <a data="auction"> Auction</a>
                    <a class="item active" data-tab="orders">
                        Current orders
                        <div class="ui originated left label">1</div>
                    </a>
                    <a class="item" data-tab="wishes">Wishes</a>
                    <a class="item" data-tab="messages">Messages</a>
                    <a class="item" data-tab="notifications">Notifications</a>
                    <a class="item" data-tab="history">History</a>
                    <a class="item" data-tab="settings">Settings</a>
                </div>
              </div>
              <div class="col-md-9">
                <div class="tabs body">
                    <div class="ui segment tab" data-tab="auction"> Auction </div>
                    <div class="ui segment none tab active" data-tab="orders">
                       
                        <div class="ui table orders order">
                            <div class="first">
                                <div class="collapsing image">
                                    <img src="https://s-media-cache-ak0.pinimg.com/736x/fb/60/90/fb6090f6808037dd4aedb50f0cfbc7d8.jpg" alt="" />
                                </div>
                            </div>
                            <div class="second">
                                <div class="information">
                                    <div class="title">Dress</div>
                                    <div class="types">
                                        Small, XS
                                    </div>
                                    <div class="cost">
                                    <div class="option">                                          
                                        <span class="labeler">  <i class="shopping basket icon"></i> Price : </span>
                                        <span class="info">   <i class="fa fa-usd" aria-hidden="true"></i> 25</span>
                                    </div>
                                    <div class="option">                                          
                                        <span class="labeler">  <i class="shipping icon"></i> Shipping : </span>
                                        <span class="info">   <i class="fa fa-usd" aria-hidden="true"></i> 25</span>
                                    </div>
                                    </div>                                       
                                </div> 
                            </div>
                            <div class="third">
                                <div class="current">
                                    <div class="title">Information</div>                                        
                                    <div class="option first">                                          
                                        <span class="labeler"><i class="help icon"></i> Status : </span>
                                        <span class="info">Waiting for review</span>
                                    </div>
                                    <div class="option">                                          
                                        <span class="labeler"><i class="time icon"></i> Created : </span>
                                        <span class="info">10.08.2017</span>
                                    </div>
                                    <div class="option">                                          
                                        <span class="labeler"><i class="barcode icon"></i> Track code : </span>
                                        <span class="info"> 79493028565287</span>
                                    </div> 
                                </div> 
                            </div>
                        </div>
                       
                        <div class ="ui segment">
                            <h3><i class="shopping bag icon"></i>Current orders</h3>
                            
                            <table class="ui celled orders table borderless">
                                <thead></thead>
                                <tbody>                                                              
                                    <tr class="last">
                                        <td class="collapsing image">
                                            <img src="https://s-media-cache-ak0.pinimg.com/736x/fb/60/90/fb6090f6808037dd4aedb50f0cfbc7d8.jpg" alt="" />
                                        </td>
                                        <td class="information">
                                            <div class="title">Dress</div>
                                            <div class="types">
                                                Small, XS
                                            </div>
                                            <div class="cost">
                                            <div class="option">                                          
                                                <span class="labeler">  <i class="shopping basket icon"></i> Price : </span>
                                                <span class="info">   <i class="fa fa-usd" aria-hidden="true"></i> 25</span>
                                            </div>
                                            <div class="option">                                          
                                                <span class="labeler">  <i class="shipping icon"></i> Shipping : </span>
                                                <span class="info">   <i class="fa fa-usd" aria-hidden="true"></i> 25</span>
                                            </div>
                                            </div>                                       
                                        </td>  
                                        <td class="current">
                                            <div class="title">Information</div>                                        
                                            <div class="option first">                                          
                                            <span class="labeler"><i class="help icon"></i> Status : </span>
                                            <span class="info">Waiting for review</span>
                                            </div>
                                            <div class="option">                                          
                                            <span class="labeler"><i class="time icon"></i> Created : </span>
                                            <span class="info">10.08.2017</span>
                                            </div>
                                            <div class="option">                                          
                                            <span class="labeler"><i class="barcode icon"></i> Track code : </span>
                                            <span class="info"> 79493028565287</span>
                                            </div>
                                            

                                        </td>                                        
                                    </tr>
                                </tbody>
                            </table>                        
                        </div>
                       
                        
                    </div>                    
                    <div class="ui segment none tab" data-tab="wishes">
                        <div class="row">                           
                            <div class="col-sm-6 col-md-6 col-lg-4">
                                <div class="product stock">
                                    <div class="image"> 
                                     <img src="  https://s-media-cache-ak0.pinimg.com/736x/fb/60/90/fb6090f6808037dd4aedb50f0cfbc7d8.jpg" alt=""> 
                                    </div>                                    
                                    <div class="titile">
                                        Another dress
                                    </div>
                                    <div class="description">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    </div>
                                    <div class="stocked">
                                        <div class="price"><i class="fa fa-usd" aria-hidden="true"></i>200</div>
                                        <button class="added"><i class="add to cart icon" aria-hidden="true"></i></button>                                        
                                    </div>
                                </div>
                            </div>   
                                                                       
                        </div>                    
                    </div>
                    <div class="ui segment tab" data-tab="messages">Messages</div>
                    <div class="ui segment tab" data-tab="notifications">Notifications</div>
                    <div class="ui segment tab" data-tab="history">History</div>
                    <div class="ui segment tab" data-tab="settings">Settings</div>
                </div>
              </div>
            </div>

            <%-include('./Common/each')%>
            <%-include('./Common/footer')%>
        </div>
    </body>

    <!--Head include!-->
    <%-include('./Common/scripts')%>
    <script src="../GeneralAssets/js/tabulizer.js"></script>
    <script src="../UserAssets/js/My/user.js"></script>

</html>