<%-include('../Function/funcitons')%>

<!DOCTYPE html>
<html>

    <head>
        <!--Head include!-->
        <%-include('../Common/mobile')%>
        <%-include('../Common/head', { domain })%>
        
        <link rel="stylesheet" href="<%=domain%>/u.assets/css/user.css" />
        <link rel="stylesheet" href="<%=domain%>/g.assets/css/orders.css" />
        <link rel="stylesheet" href="<%=domain%>/g.assets/css/responsive.css"/>
    </head>
    <body>
        <div class="content">
            <!--Menu include!-->
            <%-include('../Common/menu', { page : pageName , user : currentUser })%>
            <div class="row products">
              <div class="col-md-2">
                <%-include('./my_menu', { active : 1 })%>
              </div>
                  <div class="col-md-10">                           
                    <div class="ui segment none">           
                        <div class="row">
                            <%winnings.forEach( winning =>{%>                          
                                <div class="col-sm-6 col-md-6 col-lg-4">
                                    <div class="product auction">
                                        <div class="ui label won">WON</div>
                                        <div class="first">
                                            <a href="/product/id<%=winning.productId%>" class="collapsing image">
                                                <img src="<%=winning.auction.mainImage%>" alt="" />
                                            </a>
                                        </div>
                                        <div class="second">
                                            <div class="information">
                                                <div class="title"><%=winning.product.prTitle%></div>
                                                <div class="types">
                                                    
                                                </div>
                                                <div class="cost">
                                                    <div class="option">                                          
                                                        <span class="labeler">  <i class="legal icon"></i> Winning bid : </span>
                                                        <span class="info">   <i class="fa fa-usd" aria-hidden="true"></i> <%=(winning.lastBid/100)%> </span>
                                                    </div>                                            
                                                    <div class="option">                                          
                                                        <span class="labeler">  <i class="shipping icon"></i> Delivery : </span>
                                                        <span class="info">   <i class="fa fa-usd" aria-hidden="true"></i> <%=winning.auction.offShipment%> </span>
                                                    </div>
                                                    <div class="option">                                          
                                                        <span class="labeler">  <i class="wait icon"></i> Won at : </span>
                                                        <span class="info"> <%=convertDate(winning.createdAt)%> </span>
                                                    </div>
                                                    <div class="option">                                          
                                                        <span class="labeler">  <i class="history icon"></i> Disappear after: </span>
                                                        <span class="info"> 7 days </span>
                                                    </div>
                                                </div>                                       
                                            </div> 
                                        </div>
                                        <div class="third">                                       
                                            <a href="/my/winning/<%=winning.winningId%>" class="ui button">
                                                <i class="checkmark icon"></i>
                                                Checkout
                                            </a>                                                                             
                                        </div>
                                    </div>  
                                </div>
                            <%})%> 
                        </div>       
                    </div>
              </div>
            </div>

            <%-include('../Common/each')%>
            <%-include('../Common/footer')%>
        </div>
    </body>

    <!--Scripts include!-->
    <%-include('../Common/scripts')%>
    <script src="<%=domain%>/g.assets/js/tabulizer.js"></script>
    <script src="<%=domain%>/u.assets/js/my/user.js"></script>

</html>