<!DOCTYPE html>
<html>

  <head>
    <!--Head include!-->
    <%-include('../Common/mobile')%>
    <%-include('../Common/head', { pageName })%>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.css"/>
    <link rel="stylesheet" href="../GeneralAssets/css/responsive.css">
  </head>

  <body>
    <div class="content">
      <!--Menu include!-->
      <%-include('../Common/minimenu', { page : pageName  })%>

      <div class="single">
          <form id="reset" class="ui form former small">
              <h3 class="ui image header flexcenter"> <img src="../GeneralAssets/img/commericalicons/safebox-2.png" alt="store"> Reset password  </h3>
              <div class="field">
                <input type="text" placeholder="Your current email" name="email">
              </div>

              <div class="field" style="display:none;">
                <input type="text" name="link" value="<%=link%>">
              </div>


              <div class="field">
                <input type="password" placeholder="New Password" name="password">
              </div>

              <div class="field">
                <input type="password" placeholder="Repeat Password" name="repeated_password">
              </div>
           
              <div class="ui error custom message">
                  <div class="header">Action Forbidden</div>
                  <p></p>
               </div>


               <div class="ui success custom message">
                  <div class="header">Action Completed</div>
                  <p> 
                    Now you can use your new password for sign in.<br>
                    <a class="ui button original" href="/">Back</a>
                  </p>
               </div>

              <div class="buttons container">
                  <button type="submit" class="ui submit button">Reset</button>                 
              </div>
          </form>
      </div>

      <%-include('../Common/footer')%>
    </div>
  </body>

  <!--Head include!-->
  <%-include('../Common/scripts')%> 
  <script src="../GeneralAssets/js/reset.js" charset="utf-8"></script>

</html>