<!DOCTYPE html>
<html>

  <head>
    <!--Head include!-->
    <%-include('../Common/mobile')%>
    <%-include('../Common/head')%>

    <link rel="stylesheet" href="<%=resources%>/g.assets/css/informational.css">
    <link rel="stylesheet" href="<%=resources%>/g.assets/css/responsive.css">
  </head>

  <body class="preloading">
    <div class="content">
      <!--Menu include!-->
      <%-include('../Common/minimenu', { page : pageName  })%>

      <div class="single">
          <div class="ui segment">
            <h3 class="header">
                <b>Buyer's Protection</b>
            </h3>

            <div class="content">
              Here at Just Bid Live, strive for an ease of access to great products provided by sellers. <br>
              As online buyer’s, your first initial thought would be about concerns regarding to sellers authenticity.<br><br>

              We place safety purchasing buffers on our website which assures you that no transaction will go missing. <br>
              All seller’s need to provide 1 month guarantee minimum with all of their goods.<br><br>

              We have payment resolution system, where we investigate any problems and concerns when it comes to using our services. <br>
              If you feel that you have arrived at any difficulties. Please contact us ASAP, so we can help rectify the problem.<br>
            </div>
          </div>
      </div>
     
      <%-include('../Common/footer')%>
    </div>
  </body>

  <!--Head include!-->
  <%-include('../Common/scripts')%>
</html>