<!DOCTYPE html>
<html>

  <head>
    <!--Head include!-->
    <%-include('../Common/mobile')%>
    <%-include('../Common/head')%>

    <link rel="stylesheet" href="<%=resources%>/g.assets/css/informational.css">
    <link rel="stylesheet" href="<%=resources%>/g.assets/css/responsive.css">
  </head>

  <body class="preloading">
    <div class="content">
      <!--Menu include!-->
      <%-include('../Common/minimenu', { page : pageName  })%>

      <div class="single">
          <div class="ui segment">
            <h3 class="header">
                <b>Copyright <i class="fa fa-copyright" aria-hidden="true"></i> JUS Bid Live 2017 All Rights Reserved</b>
            </h3>

            <div class="content">
                All files and information contained in this Website are copyright by JUS Bid Live, 
                and may not be duplicated, copied, modified or adapted, in any way without our written permission. <br><br>

                
                Our Website may contain our service marks or trademarks as well as those 
                of our affiliates or other companies, in the form of words, graphics, and logos. <br><br>

                Your use of our Website, Blog or Services does not constitute any right or 
                license for you to use our service marks or trademarks, without the prior 
                written permission of JUS Bid Live.    <br><br>


                Our Content, as found within our Website is protected under Australia and foreign copyrights. 
                The copying, redistribution, use or publication by you of any such Content, is strictly prohibited.
                Your use of our Website and Services does not grant you any ownership rights to our Content.        
            </div>
          </div>
      </div>
     
      <%-include('../Common/footer')%>
    </div>
  </body>

  <!--Head include!-->
  <%-include('../Common/scripts')%>
</html>