<!DOCTYPE html>
<html lang="eng">

<head>
  <!--Head include!-->
  <%-include('../Common/mobile')%>
    <%-include('../Common/head')%>

      <link rel="stylesheet" href="<%=resources%>/g.assets/css/informational.css">
      <link rel="stylesheet" href="<%=resources%>/g.assets/css/responsive.css">

      <style type="text/css">
        @import url('https://themes.googleusercontent.com/fonts/css?kit=fpjTOVmNbO4Lz34iLyptLaIg6ghpHn1vhFthO1ORc0_RHbaxXYBpy54E7mLpj8XR');
        .lst-kix_list_1-3>li:before {
          content: "\0025cf  "
        }

        .lst-kix_list_1-4>li:before {
          content: "o  "
        }

        ul.lst-kix_list_1-0 {
          list-style-type: none
        }

        .lst-kix_list_1-7>li:before {
          content: "o  "
        }

        .lst-kix_list_1-5>li:before {
          content: "\0025aa  "
        }

        .lst-kix_list_1-6>li:before {
          content: "\0025cf  "
        }

        ul.lst-kix_list_1-3 {
          list-style-type: none
        }

        .lst-kix_list_1-0>li:before {
          content: "\002756  "
        }

        ul.lst-kix_list_1-4 {
          list-style-type: none
        }

        .lst-kix_list_1-8>li:before {
          content: "\0025aa  "
        }

        ul.lst-kix_list_1-1 {
          list-style-type: none
        }

        ul.lst-kix_list_1-2 {
          list-style-type: none
        }

        ul.lst-kix_list_1-7 {
          list-style-type: none
        }

        .lst-kix_list_1-1>li:before {
          content: "o  "
        }

        .lst-kix_list_1-2>li:before {
          content: "\0025aa  "
        }

        ul.lst-kix_list_1-8 {
          list-style-type: none
        }

        ul.lst-kix_list_1-5 {
          list-style-type: none
        }

        ul.lst-kix_list_1-6 {
          list-style-type: none
        }

        ol {
          margin: 0;
          padding: 0
        }

        table td,
        table th {
          padding: 0
        }

        .c10 {
          margin-left: 36pt;
          padding-top: 0pt;
          padding-left: 0pt;
          padding-bottom: 0pt;
          line-height: 1.0;
          orphans: 2;
          widows: 2;
          text-align: justify
        }

        .c4 {
          margin-left: 27pt;
          padding-top: 2pt;
          text-indent: -27pt;
          padding-bottom: 2pt;
          line-height: 1.1500000000000001;
          orphans: 2;
          widows: 2;
          text-align: justify
        }

        .c3 {
          padding-top: 2pt;
          padding-bottom: 2pt;
          line-height: 1.1500000000000001;
          orphans: 2;
          widows: 2;
          text-align: justify;
          height: 11pt
        }

        .c29 {
          padding-top: 0pt;
          padding-bottom: 0pt;
          line-height: 1.0;
          orphans: 2;
          widows: 2;
          text-align: right;
          height: 11pt
        }

        .c14 {
          padding-top: 0pt;
          padding-bottom: 0pt;
          line-height: 1.0;
          orphans: 2;
          widows: 2;
          text-align: justify;
          height: 11pt
        }

        .c2 {
          color: #000000;
          font-weight: 400;
          text-decoration: none;
          vertical-align: baseline;
          font-size: 11pt;
          font-family: Saira Semi Condensed, cursive;
          font-style: normal
        }

        .c24 {
          padding-top: 0pt;
          padding-bottom: 0pt;
          line-height: 1.0;
          orphans: 2;
          widows: 2;
          text-align: left;
          height: 11pt
        }

        .c17 {
          padding-top: 0pt;
          padding-bottom: 10pt;
          line-height: 1.1500000000000001;
          orphans: 2;
          widows: 2;
          text-align: justify
        }

        .c31 {
          padding-top: 2pt;
          padding-bottom: 2pt;
          line-height: 1.1500000000000001;
          orphans: 2;
          widows: 2;
          text-align: left
        }

        .c11 {
          padding-top: 2pt;
          padding-bottom: 2pt;
          line-height: 1.1500000000000001;
          orphans: 2;
          widows: 2;
          text-align: justify
        }

        .c8 {
          padding-top: 2pt;
          padding-bottom: 2pt;
          line-height: 1.0;
          orphans: 2;
          widows: 2;
          text-align: justify
        }

        .c13 {
          padding-top: 0pt;
          padding-bottom: 10pt;
          line-height: 1.1500000000000001;
          orphans: 2;
          widows: 2;
          text-align: left
        }

        .c33 {
          padding-top: 0pt;
          padding-bottom: 0pt;
          line-height: 1.0;
          orphans: 2;
          widows: 2;
          text-align: left
        }

        .c15 {
          padding-top: 5pt;
          padding-bottom: 5pt;
          line-height: 1.0;
          orphans: 2;
          widows: 2;
          text-align: left
        }

        .c32 {
          padding-top: 0pt;
          padding-bottom: 0pt;
          line-height: 1.0;
          orphans: 2;
          widows: 2;
          text-align: justify
        }

        .c28 {
          text-decoration: none;
          vertical-align: baseline;
          font-size: 8pt;
          font-style: normal
        }

        .c5 {
          text-decoration: none;
          vertical-align: baseline;
          font-size: 12pt;
          font-style: normal
        }

        .c7 {
          text-decoration: none;
          vertical-align: baseline;
          font-size: 11pt;
          font-style: normal
        }

        .c25 {
          color: #000000;
          font-weight: 300;
          font-family: "Open Sans"
        }

        .c6 {
          font-family: Saira Semi Condensed, cursive;
          color: #000000;
          font-weight: 400
        }

        .c9 {
          background-color: #ffffff;
          max-width: 100%;
          padding: 9pt 36pt 0pt 36pt
        }

        .c0 {
          font-family: Saira Semi Condensed, cursive;
          color: #000000;
          font-weight: 600
        }

        .c22 {
          font-size: 12pt;
          font-family: Saira Semi Condensed, cursive;
          font-weight: 400
        }

        .c1 {
          padding: 0;
          margin: 0
        }

        .c18 {
          font-weight: 600;
          font-family: Saira Semi Condensed, cursive
        }

        .c21 {
          color: #0000ff;
          text-decoration: underline
        }

        .c23 {
          font-weight: 400;
          font-family: Saira Semi Condensed, cursive
        }

        .c19 {
          text-indent: -27pt
        }

        .c35 {
          text-indent: 15pt
        }

        .c27 {
          text-indent: 3pt
        }

        .c26 {
          text-indent: 12pt
        }

        .c20 {
          margin-left: 36pt
        }

        .c34 {
          text-indent: 9pt
        }

        .c16 {
          text-indent: 27pt
        }

        .c12 {
          margin-left: 27pt
        }

        .c30 {
          height: 11pt
        }

        .title {
          padding-top: 24pt;
          color: #000000;
          font-weight: 600;
          font-size: 36pt;
          padding-bottom: 6pt;
          font-family: "Calibri";
          line-height: 1.1500000000000001;
          page-break-after: avoid;
          orphans: 2;
          widows: 2;
          text-align: left
        }

        .subtitle {
          padding-top: 18pt;
          color: #666666;
          font-size: 24pt;
          padding-bottom: 4pt;
          font-family: "Georgia";
          line-height: 1.1500000000000001;
          page-break-after: avoid;
          font-style: italic;
          orphans: 2;
          widows: 2;
          text-align: left
        }

        li {
          color: #000000;
          font-size: 11pt;
          font-family: "Calibri"
        }

        p {
          margin: 0;
          color: #000000;
          font-size: 11pt;
          font-family: "Calibri"
        }

        h1 {
          padding-top: 24pt;
          color: #000000;
          font-weight: 600;
          font-size: 24pt;
          padding-bottom: 6pt;
          font-family: "Calibri";
          line-height: 1.1500000000000001;
          page-break-after: avoid;
          orphans: 2;
          widows: 2;
          text-align: left
        }

        h2 {
          padding-top: 18pt;
          color: #000000;
          font-weight: 600;
          font-size: 18pt;
          padding-bottom: 4pt;
          font-family: "Calibri";
          line-height: 1.1500000000000001;
          page-break-after: avoid;
          orphans: 2;
          widows: 2;
          text-align: left
        }

        h3 {
          padding-top: 14pt;
          color: #000000;
          font-weight: 600;
          font-size: 14pt;
          padding-bottom: 4pt;
          font-family: "Calibri";
          line-height: 1.1500000000000001;
          page-break-after: avoid;
          orphans: 2;
          widows: 2;
          text-align: left
        }

        h4 {
          padding-top: 12pt;
          color: #000000;
          font-weight: 600;
          font-size: 12pt;
          padding-bottom: 2pt;
          font-family: "Calibri";
          line-height: 1.1500000000000001;
          page-break-after: avoid;
          orphans: 2;
          widows: 2;
          text-align: left
        }

        h5 {
          padding-top: 11pt;
          color: #000000;
          font-weight: 600;
          font-size: 11pt;
          padding-bottom: 2pt;
          font-family: "Calibri";
          line-height: 1.1500000000000001;
          page-break-after: avoid;
          orphans: 2;
          widows: 2;
          text-align: left
        }

        h6 {
          padding-top: 10pt;
          color: #000000;
          font-weight: 600;
          font-size: 10pt;
          padding-bottom: 2pt;
          font-family: "Calibri";
          line-height: 1.1500000000000001;
          page-break-after: avoid;
          orphans: 2;
          widows: 2;
          text-align: left
        }
      </style>
</head>

<body class="preloading">
  <div class="content">
    <!--Menu include!-->
    <%-include('../Common/minimenu', { page : pageName  })%>

      <div class="single">
        <div class="ui segment">
          <h3 class="header">
            <b>Terms and Conditions</b>
          </h3>
          <div class="c9 content">
            <p class="c24">
              <span class="c5 c6"></span>
            </p>
            <p class="c13">
              <span class="c23">When you apply to become a Registered Bidder, you are making representation to the </span>
              <span class="c18">JUS BID LIVE </span>
              <span class="c23">and also agreeing to the following important conditions. You should ensure you have read this Agreement prior
                to registering and making any bid at a </span>
              <span class="c18">JUS BID LIVE </span>
              <span class="c23">website. If you bid at </span>
              <span class="c18">JUS BID LIVE </span>
              <span class="c23">website you will be subject to this Agreement</span>
              <span class="c5 c0">.</span>
            </p>
            <p class="c13">
              <span class="c7 c0">1. USE OF WEBSITE </span>
            </p>
            <p class="c4">           
              <span class="c2">1.1 Access to Online Sales </span>
            </p>
            <p class="c4">
              <span class="c2">1.1.1 Your viewing and use of the Website and the Online Sales System is governed by and subject to you agreeing
                to this Agreement. </span>
            </p>
            <p class="c4">
              <span class="c2">1.1.2 By applying to become a Registered Bidder, logging onto and using the Website and the Online Sales System,
                making or purporting to make a Bid at any Auction Sale or submitting or purporting to submit a Tender at
                any Tender Sale, You irrevocably submit that You: </span>
            </p>
            <p class="c4">
              <span class="c2">(a) Have read and understood and will comply with this Agreement; agree to be bound to this Agreement; </span>
            </p>
            <p class="c4">
              <span class="c2">(b) Have examined to the best of your ability and knowledge all information relevant to the risks, contingencies
                and other circumstances affecting the Website and Online Sales System; and </span>
            </p>
            <p class="c4">
              <span class="c2">(c) Have had an opportunity to clarify any questions or issues in relation to the Website or the Online Sales
                System. Contact email info@justbidlive.com</span>
            </p>
            <p class="c13">
              <span class="c6">(d) Acknowledge </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c6">as the auctioneer, is acting as an agent for the Seller. If any dispute arises in relation to the supply of
                an Item(s) (whether before or after payment &nbsp; has been made to the Seller for proceeds of any sale)
                the dispute will be between the prospective buyer and the Seller and I acknowledge and agree </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c6">will be excluded from any subsequent action or court proceedings. If </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c6">is subsequently included in any such action or proceedings, I agree to indemnify </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c6">for any liability or costs incurred by</span>
              <span class="c0">&nbsp;JUS BID LIVE </span>
              <span class="c6">in relation to such action or proceedings, except to the extent caused or contributed to by the negligence
                of </span>
              <span class="c7 c0">JUS BID LIVE</span>
            </p>
            <p class="c24">
              <span class="c5 c6"></span>
            </p>
            <p class="c4">
              <span class="c23">2. </span>
              <span class="c0">REGISTRATION OF BIDDERS</span>
              <span class="c2">&nbsp;</span>
            </p>
            <p class="c4">
              <span class="c2">2.1 Bidders must be registered to participate in Sales. </span>
            </p>
            <p class="c4">
              <span class="c2">2.1.1 A person may not participate in a Sale as a Bidder at an Auction or by submitting a Tender unless the
                person is a Registered Bidder under clause 2.2. </span>
            </p>
            <p class="c4">
              <span class="c2">2.2 Applications for Registration </span>
            </p>
            <p class="c4">
              <span class="c6">2.2.1 You may apply to </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c2">to become a Registered Bidder to participate in Sales by completing the online registration form.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            </p>
            <p class="c4">
              <span class="c6">2.2.2 By submitting an Application to </span>
              <span class="c0">JUS BID LIVE</span>
              <span class="c6">, You represent and warrant to </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c6">that all information provided by you to </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c2">is absolute and accurate. </span>
            </p>
            <p class="c4">
              <span class="c6">2.2.3 </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c6">may accept or reject an Application in its absolute discretion by notice to you. If </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c2">accepts the application, you become a Registered Bidder for the purposes of this Agreement. </span>
            </p>
            <p class="c4">
              <span class="c6">2.2.4 </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c2">will require you as a Registered Bidder to provide your credit card details before providing you access to
                the Online Sales System. You are required to maintain current credit card details while you are a Registered
                Bidder. </span>
            </p>
            <p class="c4">
              <span class="c6">2.2.5 You acknowledge that </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c6">may in its sole and unfettered discretion carry out a Document Verification Service check on personal identifiers
                supplied by you at any time during or after the registration process through any of </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c2">third party service providers (DVS Check). </span>
            </p>
            <p class="c4">
              <span class="c6">2.2.6 in accepting these terms and conditions, you give consent and authority for </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c2">to carry out a DVS (DOCUMENT VERIFICATION SERVICE) Check on Your personal identifiers for the purposes of verifying
                Your identity or information supplied by You in the Application. </span>
            </p>
            <p class="c4">
              <span class="c6">2.2.7 You acknowledge that </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c6">is reliant at all times on information provided by You and nothing by way of </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c2">conducting a DVS Check limits in any way Your obligation to provide correct and accurate information pursuant
                to these Terms and Conditions. </span>
            </p>
            <p class="c13">
              <span class="c6">2.2.8 In the event a DVS Check results in a failure of matching results between the information supplied by
                you and the results of the DVS Check, </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c2">may in its sole and unfettered discretion exercise its immediate termination rights as set out in clause 7.</span>
            </p>
            <p class="c24">
              <span class="c5 c6"></span>
            </p>
            <p class="c11">
              <span class="c23">&nbsp;</span>
              <span class="c6">2.2.9 If the Registered Bidder fails to comply with any of the terms and conditions, </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c6">reserves the right to be reimbursed for all costs, fees and charges pertaining to an Online Sale reasonably
                incurred by </span>
              <span class="c0">JUS BID LIVE</span>
              <span class="c6">. </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c6">may, apply these costs, fees and charges against the credit card details provided in clause 2.2.4. In the event
                a credit card is not available, </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c6">is entitled to be paid any costs, fees and charges pertaining to the Online Sale reasonably incurred by </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c2">on demand. </span>
            </p>
            <p class="c11">
              <span class="c2">2.2.10 Registered Bidders have access to the Website and the Online Sales System for the purpose of participating
                in a Sale only and provided they comply with this Agreement at all times. </span>
            </p>
            <p class="c11">
              <span class="c2">2.3 Use of login and password </span>
            </p>
            <p class="c11 c16">
              <span class="c6">If </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c2">provides You (or an individual who You nominate) with a login and password to use the Online Sales System You:
                </span>
            </p>
            <p class="c11">
              <span class="c2">2.3.1 Acknowledge that the login and password are for the personal use of the named entity; </span>
            </p>
            <p class="c11">
              <span class="c2">2.3.2 Agree to maintain the confidentiality of the login and password both separately and as a pair; </span>
            </p>
            <p class="c11">
              <span class="c2">2.3.3 Agree not to disclose the login or password to any other person; </span>
            </p>
            <p class="c11">
              <span class="c2">2.3.4 Agree, where a login and password are provided to an individual at your request, to ensure that the individual
                complies with clauses 2.3.1 to 2.3.4; </span>
            </p>
            <p class="c11">
              <span class="c6">2.3.5 accept full responsibility and indemnify </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c6">for any expenses, loss, damage, costs, demands or liabilities incurred by </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c6">directly or indirectly, out of or in connection with, the use, including (without limitation) any improper
                or unauthorized use of the login and password except to the extent caused by the negligence of </span>
              <span class="c0">JUS BID LIVE</span>
              <span class="c2">; </span>
            </p>
            <p class="c11">
              <span class="c2">2.3.6 agree &nbsp;to only access the Website and Online Sales System for legitimate and lawful purposes and
                in accordance with any instructions or directions given to You on the Website or Online Sales System from
                time to time; and
              </span>
            </p>
            <p class="c13">
              <span class="c6">2.3.7 Agree and acknowledge that </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c2">may, in its absolute discretion, withdraw or restrict your access to the Website or Online Sales System at
                any time and without reason, explanation or prior notice.</span>
            </p>
            <p class="c24">
              <span class="c5 c6"></span>
            </p>
            <p class="c11">
              <span class="c23">3 </span>
              <span class="c0">TERMS AND CONDITIONS OF SALE</span>
              <span class="c2">&nbsp;</span>
            </p>
            <p class="c11">
              <span class="c2">3.1 Definition of Auction or Tender Sales </span>
            </p>
            <p class="c11">
              <span class="c6">Aforementioned to the commencement of the Sale Process for an Item, </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c2">may nominate that the Item is for sale by Auction Sale or Tender Sale. </span>
            </p>
            <p class="c11">
              <span class="c6">3.2 </span>
              <span class="c0">Auction Sales</span>
              <span class="c2">&nbsp;</span>
            </p>
            <p class="c11">
              <span class="c2">All Auction Sales conducted by or in conjunction with the Online Sales System are subject to the Online Auction
                Sales Terms and Conditions. </span>
            </p>
            <p class="c11">
              <span class="c6">3.3 </span>
              <span class="c0">Tender Sales</span>
              <span class="c2">&nbsp;</span>
            </p>
            <p class="c11">
              <span class="c2">All Tender Sales conducted by or in conjunction with the Online Sales System are subject to the Online Tender
                Sales Terms and Conditions. </span>
            </p>
            <p class="c11">
              <span class="c6">3.4 </span>
              <span class="c0">Registration</span>
              <span class="c2">&nbsp;</span>
            </p>
            <p class="c11">
              <span class="c2">All goods are sold as unregistered unless expressly stated to the contrary. </span>
            </p>
            <p class="c15">
              <span class="c5 c6">3.5 You must disclose to </span>
              <span class="c5 c0">JUS BID LIVE </span>
              <span class="c5 c6">at the time of becoming a Registered Bidder and prior to any bidding, that there is an intention to purchase
                an Item for export purposes. Your ability to purchase an Item in this manner is at the discretion of </span>
              <span class="c5 c0">JUS BID LIVE </span>
              <span class="c5 c6">and subject to the Seller&rsquo;s consent. In the event this type of purchase is permitted you are required
                to comply with all legislated disclosure requirements and </span>
              <span class="c5 c0">JUS BID LIVE</span>
              <span class="c5 c6">&rsquo;s reasonable directions. </span>
            </p>
            <p class="c15">
              <span class="c5 c6">3.6 Seller will defend, at its own expense, any action against Buyer brought by a third party to the extent
                that the action is based upon a claim that the Products infringe any AUSTRALIAN. Patents or copyrights, or
                misappropriate any trade secrets, of a third party. </span>
            </p>
            <p class="c15">
              <span class="c5 c6">3.7Seller will pay the costs and damages finally awarded against Buyer in any the action that are specifically
                attributable to the claim or those costs and damages agreed to in a monetary settlement of the action.</span>
            </p>
            <p class="c15">
              <span class="c5 c6">3.8 The foregoing obligations are conditioned on Buyer (i) notifying Seller promptly in writing of the action,
                (ii) making no admission of liability and giving Seller sole control of the defense thereof and any related
                settlement negotiations, and (iii) cooperating and, at Seller&rsquo;s request and expense, assisting in the
                defense.</span>
            </p>
            <p class="c15">
              <span class="c5 c6">3.9 If the Products become, or in Seller&rsquo;s opinion are likely to become, the subject of an infringement
                claim, Seller may, at its option and expense, either (i) procure for Buyer the right to continue using the
                Products, (ii) replace or modify the Products so that they become non-infringing, or (iii) accept return
                of the Products and refund Buyer the amounts actually paid by Buyer to Seller for the Products.</span>
            </p>
            <p class="c15">
              <span class="c5 c6">3.10 Notwithstanding the foregoing, Seller will have no obligation with respect to any infringement claim based
                upon any: (I) misuse or modification of the Products by Buyer (ii) use of the Products in combination with
                other materials, goods, products, or services for which the Products were not intended to be used, (iii)
                failure of Buyer to implement any update provided by Seller that would have prevented the claim, (iv) Products
                that Seller made to Buyer&rsquo;s specifications or designs.</span>
            </p>
            <p class="c3">
              <span class="c2"></span>
            </p>
            <p class="c3">
              <span class="c7 c0"></span>
            </p>
            <p class="c3">
              <span class="c7 c0"></span>
            </p>
            <p class="c3">
              <span class="c7 c0"></span>
            </p>
            <p class="c13">
              <span class="c23">4. </span>
              <span class="c18">SUSPENSION OF SERVICE</span>
              <span class="c2">&nbsp;</span>
            </p>
            <p class="c11">
              <span class="c2">4.1 No Warranty or Representation of Availability </span>
            </p>
            <p class="c11">
              <span class="c0">JUS BID LIVE </span>
              <span class="c2">expressly disclaims any representation or warranty that the Online Sales System will be available for use by
                You at all times or at any particular time, during and for the duration of any particular Sale Process or
                at all.
              </span>
            </p>
            <p class="c11">
              <span class="c6">4.2 </span>
              <span class="c7 c0">Interruption to Service during Sale Process </span>
            </p>
            <p class="c13">
              <span class="c6">If the Online Sales System is interrupted (either generally or to a particular Bidder(s) or person(s)) for
                any reason during a Sale Process (whether by way of suspension by </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c2">under clause</span>
            </p>
            <p class="c4">
              <span class="c6">4.3 Or otherwise) </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c2">may, but is not obliged to, declare the Sale Process void and recommence the Sale from the beginning. </span>
            </p>
            <p class="c4">
              <span class="c6">4.3 </span>
              <span class="c0">Suspension of Service</span>
              <span class="c2">&nbsp;</span>
            </p>
            <p class="c4">
              <span class="c6">4.3.1 </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c2">may from time to time suspend the provision of the Online Sales System. </span>
            </p>
            <p class="c13">
              <span class="c6">4.3.2 Where possible, </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c2">will notify You in advance of the time and duration of any suspension of the Online Sales System, but does
                not represent or warrant that it will do so on every occasion, on any particular occasion or any occasion
                at all.</span>
            </p>
            <p class="c4">
              <span class="c0">5. LIABILITY AND INDEMNITY </span>
            </p>
            <p class="c4">
              <span class="c6">5.1 </span>
              <span class="c0">Necessary Authority</span>
              <span class="c2">&nbsp;</span>
            </p>
            <p class="c19 c12 c31">
              <span class="c6">If you make use of the Online Sales System, whether for you or another person, you acknowledge and warrant
                to </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c2">that: </span>
            </p>
            <p class="c4">
              <span class="c2">5.1.1 You have the full right to engage in the transactions you carry out; </span>
            </p>
            <p class="c4">
              <span class="c6">5.1.2 You will be liable for all costs, fees, charges and other amounts which may become payable to </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c2">or any other person as a result of the use of the Online Sales System; </span>
            </p>
            <p class="c4">
              <span class="c6">5.1.3 You are properly authorized to provide </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c2">with any information which you provide; </span>
            </p>
            <p class="c4">
              <span class="c6">5.1.4 You are not breaching any obligation of confidence or any requirement of any applicable law relating
                to the privacy of Personal Information by providing the information to </span>
              <span class="c0">JUS BID LIVE</span>
              <span class="c2">; and </span>
            </p>
            <p class="c4">
              <span class="c6">5.1.5 All information you provide to </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c2">is true and complete to the best of your knowledge. </span>
            </p>
            <p class="c4">
              <span class="c6">5.2 </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c6">shall not be responsible for any damage to property or injury to persons incurred during the removal of Items
                except to the extent caused by the negligence of </span>
              <span class="c0">JUS BID LIVE</span>
              <span class="c2">. </span>
            </p>
            <p class="c4">
              <span class="c2">5.3 Subject to clause 5.5, the Registered Bidder is not entitled to cancel any transaction on the basis that
                the Items were not accurately described. </span>
            </p>
            <p class="c4">
              <span class="c2">5.4 Subject to clause 5.5, all Items, having been made available for inspection prior to Sale, are offered
                for sale &lsquo;as is, where is&rsquo; with all faults (if any). </span>
            </p>
            <p class="c4">
              <span class="c6">5.5 </span>
              <span class="c0">NO EXCLUSION OF LEGISLATION</span>
              <span class="c2">&nbsp;</span>
            </p>
            <p class="c4">
              <span class="c6">To the full extent permitted by law, and notwithstanding the contents of or any description given in any catalogue,
                advertisement by </span>
              <span class="c0">JUS BID LIVE</span>
              <span class="c6">, all conditions, warranties, guarantees (including without limitation as to the condition, quality, fitness
                for purpose, merchantability or compliance with description of an Item), rights, remedies, liabilities and
                other terms implied or imposed on </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c6">by statute, custom or the common law are excluded from this Agreement. If a supply under this Agreement is
                a supply of goods or services to a consumer within the meaning of the Australian Consumer Law, nothing contained
                in this Agreement excludes, restricts or modifies the application of any provision, the exercise of any right
                or remedy, or the imposition of any liability under the Australian Consumer Law, provided that, to the extent
                that the Australian Consumer Law permits any user of the </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c2">to limit its liability, then its liability shall be limited to: </span>
            </p>
            <p class="c4">
              <span class="c2">5.5.1 in the case of services, the cost of supplying the services again or payment of the cost of having the
                services supplied again; and </span>
            </p>
            <p class="c4">
              <span class="c2">5.5.2 in the case of goods, the cost of replacing the goods, supplying equivalent goods or having the goods
                repaired, or payment of the cost of replacing the goods, supplying equivalent goods or having the goods repaired.
                </span>
            </p>
            <p class="c4">
              <span class="c2">5.6 You acknowledge that You are responsible for conducting a search of the Personal Property Securities Register
                (PPSR) maintained pursuant to the Personal Property Securities Act 2009 (Cth) (PPSA) to ascertain whether
                any security interests and write off notifications are recorded in relation to the Item. </span>
            </p>
            <p class="c8 c12">
              <span class="c2">5.7 You acknowledge that any information provided by </span>
              <span class="c5 c0">JUS BID LIVE </span>
              <span class="c2">in relation to any Items reflects the information provided to </span>
              <span class="c5 c0">JUS BID LIVE </span>
              <span class="c2">by the Seller, and, </span>
              <span class="c5 c0">JUS BID LIVE </span>
              <span class="c2">has not independently verified its completeness or accuracy. </span>
              <span class="c5 c0">JUS BID LIVE </span>
              <span class="c2">does not</span>
              <span class="c5 c6">&nbsp;</span>
              <span class="c2">give any warranty as to the completeness or accuracy of any information provided to You about any sale of Items,
                including without limitation any information, </span>
              <span class="c7 c0">JUS BID LIVE </span>
              <span class="c2">will not be liable for any loss, damage, cost or expense suffered or incurred by a buyer arising out of incorrect
                or incomplete information. You agree to independently verify any information which is important to your purchasing
                decision. </span>
            </p>
            <p class="c11 c12">
              <span class="c6">5.8 You acknowledge and agree that catalogues may be subject to change and update from time to time. </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c2">reserves the right to withdraw Items from sale and to clarify any product descriptions prior to the commencement
                of bidding at auction. </span>
            </p>
            <p class="c11 c12">
              <span class="c7 c0">5.9 LIMITATION OF LIABILITY </span>
            </p>
            <p class="c11 c12">
              <span class="c6">5.9.1 To the full extent permitted by law and subject to clause 5.5, neither the Seller nor </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c6">will be liable for any loss, damage, cost or expense suffered or incurred by a buyer arising out of the sale
                and purchase of an Item except to the extent caused by the negligence of </span>
              <span class="c0">JUS BID LIVE</span>
              <span class="c6">, or a breach of this Agreement by </span>
              <span class="c0">JUS BID LIVE</span>
              <span class="c2">. </span>
            </p>
            <p class="c11 c12">
              <span class="c6">5.9.2 Subject to clause 5.5, You agree and acknowledge that no member of the </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c6">accepts any liability or responsibility to You or any third party arising from any indirect or consequential
                loss, damage or expense of any kind or nature and You release and forever discharge of the </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c2">from any such liabilities and any claims, demands or causes of action in respect thereof. </span>
            </p>
            <p class="c11 c12">
              <span class="c6">5.9.3 Subject to clause 5.5, no member of the </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c2">Group accepts any responsibility for any interpretation which may be placed upon the information provided to
                you.
              </span>
            </p>
            <p class="c11 c12">
              <span class="c6">5.9.4 Subject to clause 5.5, any deficiency in the Items sold shall not vitiate the sale, but neither the Seller
                nor </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c2">shall be bound to deliver more than is in their possession. </span>
            </p>
            <p class="c11 c12">
              <span class="c7 c0">5.10 INDEMNITY </span>
            </p>
            <p class="c11 c12">
              <span class="c6">Subject to clause 5.5, You agree to indemnify each member of the </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c2">Group for the full amount of any claim, suit or demand and all costs of such a claim, suit or demand (including,
                without limitation, legal costs on a full indemnity basis) made by You or any other person in relation to
                a Sale or Your use of the Online Sales System or the Website. This clause 5.10 survives termination of this
                Agreement for any reason and does not merge upon completion. </span>
            </p>
            <p class="c11 c12">
              <span class="c6">5.11 Circumstances beyond </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c2">Group&rsquo;s reasonable control </span>
            </p>
            <p class="c13">
              <span class="c6">No member of the </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c2">Group is responsible for or otherwise liable for any delay in, or failure of, performance to the extent that
                any delay or failure is due to circumstances beyond its reasonable control including, without limitation,
                strikes, lockouts and other industrial disputes, breakdown of systems or network access, flood, fire, explosion
                or accident.</span>
            </p>
            <p class="c11 c16">
              <span class="c0">6. PRIVACY </span>
            </p>
            <p class="c11 c16">
              <span class="c6">6.1 </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c2">protects the privacy of individuals in accordance with the Privacy Act 1988 (Cth) (Privacy Act). </span>
            </p>
            <p class="c11 c16">
              <span class="c6">6.2 You agree that you will only collect, hold, use, disclose or otherwise deal with any personal information
                (as defined in the Privacy Act) (Personal Information) disclosed to You by </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c2">or the Seller for the purpose in which it was disclosed. </span>
            </p>
            <p class="c11 c16">
              <span class="c6">6.3 The Personal Information collected from you at the time of registration and otherwise in connection with
                this Agreement is collected by </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c6">for the purpose of complying with this Agreement and may be disclosed to the Seller, </span>
              <span class="c0">JUS BID LIVE</span>
              <span class="c6">&rsquo;s related bodies corporate and other third parties (such as DOCUMENT VERIFICATION SERVICE). </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c6">is required and/or authorized to identify the buyers and sellers of GOODs under applicable Commonwealth, State
                and Territory legislation including the, Australian Consumer Law and Fair Trading Act and Unclaimed Money
                Act. Details are available in </span>
              <span class="c0">JUS BID LIVE</span>
              <span class="c2">&rsquo;s Privacy Policy which may be accessed herein. </span>
            </p>
            <p class="c17 c16">
              <span class="c2">6.4 It is not likely that the Personal Information collected at the time of registration and/or updated by
                you hereafter and otherwise collected in connection with this Agreement will be disclosed to any third parties
                located overseas.</span>
            </p>
            <p class="c4">
              <span class="c6">6.5 If the Personal Information requested at the time of registration is not provided, you may not be able
                to bid or purchase Items from </span>
              <span class="c0">JUS BID LIVE</span>
              <span class="c2">website at anytime </span>
            </p>
            <p class="c4">
              <span class="c6">6.6 </span>
              <span class="c0">JUS BID LIVE</span>
              <span class="c2">&rsquo;s Privacy Policy contains information about how individuals may: </span>
            </p>
            <p class="c4">
              <span class="c6">6.7.1 Access and correct the Personal Information held about them by </span>
              <span class="c0">JUS BID LIVE</span>
              <span class="c2">; </span>
            </p>
            <p class="c4">
              <span class="c6">6.7.2 Complain to </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c6">about a breach of privacy and how </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c2">will deal with such a complaint. </span>
            </p>
            <p class="c17 c16">
              <span class="c6">6.8 Any queries about privacy can be directed to </span>
              <span class="c0">JUS BID LIVE</span>
              <span class="c2">&rsquo;s customer supports desk by email support@justbidlive.com</span>
            </p>
            <p class="c4">
              <span class="c0">7. TERMINATION </span>
            </p>
            <p class="c4">
              <span class="c6">7.1 Termination by </span>
              <span class="c0">JUS BID LIVE</span>
            </p>
            <p class="c4">
              <span class="c6">7.1.1 </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c2">may terminate this Agreement and cease to provide access to the Online Sales System to You for convenience
                by giving reasonable notice to you. </span>
            </p>
            <p class="c4">
              <span class="c6">7.1.2 Without limiting any other right of </span>
              <span class="c0">JUS BID LIVE</span>
              <span class="c6">, </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c2">may terminate this Agreement: </span>
            </p>
            <p class="c4">
              <span class="c6">(a) Immediately if </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c2">reasonably suspects you have engaged in fraudulent or illegal conduct in relation to the auction; </span>
            </p>
            <p class="c4">
              <span class="c2">(b) Subject to clause 7.1.2(a), if you breach this Agreement and: </span>
            </p>
            <p class="c4">
              <span class="c6">i. fail to rectify the breach as directed by </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c6">within a reasonable time period specified by </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c2">(which need not be more than 2 Business Days); or </span>
            </p>
            <p class="c4">
              <span class="c2">ii. The breach is incapable of remedy. </span>
            </p>
            <p class="c4">
              <span class="c7 c0">7.2 Termination by You </span>
            </p>
            <p class="c4">
              <span class="c6">You may cease to remain a Registered Bidder by notice in writing by email via the website account or by mail
                to </span>
              <span class="c0">JUS BID LIVE</span>
              <span class="c2">, provided that you do not have any active or outstanding Bid or Tender in the Online Sales System. Any purported
                termination of this Agreement by You does not release you from, or affect, any accrued obligation under this
                Agreement. </span>
            </p>
            <p class="c4">
              <span class="c7 c0">7.3 Consequences of Termination </span>
            </p>
            <p class="c4">
              <span class="c2">Upon termination of this Agreement: </span>
            </p>
            <p class="c4">
              <span class="c2">7.3.1 You must immediately cease to use the Online Sales System; </span>
            </p>
            <p class="c4">
              <span class="c6">7.3.2 If the termination is for default by you, any amounts you owe to </span>
              <span class="c0">JUS BID LIVE</span>
              <span class="c2">, whether under this Agreement or otherwise become immediately due and payable; and </span>
            </p>
            <p class="c13">
              <span class="c2">7.3.3 You must destroy or delete any copy of the Online Sales System or any information collected from the
                Online Sales System in your possession or under your control.</span>
            </p>
            <p class="c4">
              <span class="c0">8. GENERAL </span>
            </p>
            <p class="c4">
              <span class="c2">8.1 Notices </span>
            </p>
            <p class="c4">
              <span class="c6">8.1.1 </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c2">may give you notice of any matter or thing required or permitted to be notified to you under this Agreement
                by either:
              </span>
            </p>
            <p class="c4">
              <span class="c2">(a) Sending you an email to an electronic mail address nominated by you; or </span>
            </p>
            <p class="c4">
              <span class="c2">(b) Posting the notice to the Website. </span>
            </p>
            <p class="c4">
              <span class="c6">8.1.2 Such notice takes effect and is deemed served from the time the electronic mail message leaves the </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c2">system or is visible on the Website, as the case may be. </span>
            </p>
            <p class="c4">
              <span class="c6">8.2 </span>
              <span class="c0">Governing Law</span>
              <span class="c2">&nbsp;</span>
            </p>
            <p class="c4">
              <span class="c2">Except to the extent any specific State, Territory or Commonwealth laws applying to the sale of particular
                Item, this Agreement shall be governed by and construed in accordance with the law for the time being in
                force in Sydney and the parties submit to the non-exclusive jurisdiction of the courts of Sydney. </span>
            </p>
            <p class="c4">
              <span class="c7 c0">8.3 Personal Knowledge </span>
            </p>
            <p class="c4">
              <span class="c2">A reference to a matter being to the knowledge of a person means the matter is to the best of the knowledge
                and belief of the person after making proper enquiry including enquiry which a reasonable person would be
                prompted to make by reason of knowledge of a fact.</span>
            </p>
            <p class="c11">
              <span class="c7 c0">8.4 Severance </span>
            </p>
            <p class="c11">
              <span class="c2">If any provisions of this Agreement are found to be invalid or unenforceable, then that provision will be read
                down or severed and that invalidity or unenforceability does not affect the validity or enforceability of
                the other terms and conditions. </span>
            </p>
            <p class="c11">
              <span class="c6">8.5 </span>
              <span class="c0">Whole Understanding</span>
              <span class="c2">&nbsp;</span>
            </p>
            <p class="c11">
              <span class="c6">This Agreement represents the entire understanding between You and </span>
              <span class="c0">JUS BID LIVE</span>
              <span class="c2">. </span>
            </p>
            <p class="c11">
              <span class="c2">8.6 Variation of this Agreement </span>
            </p>
            <p class="c11">
              <span class="c6">8.6.1 </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c6">may amend this Agreement (including any fees charged by </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c2">to You) at any time by giving You at least 30 days&rsquo; notice, either by sending a notice of variation to
                your email or postal address (as set out at the time of your registration) or by posting the notice of the
                variation to the Website (Notice of Variation). </span>
            </p>
            <p class="c11">
              <span class="c6">8.6.2 If You do not agree to be bound by the varied Agreement, You may, subject to clause 7, terminate this
                Agreement by notifying </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c2">in writing within 30 days of the Notice of Variation. </span>
            </p>
            <p class="c11">
              <span class="c6">8.6.3 If you do not notify </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c2">within 30 days of a Notice of Variation that you wish to terminate this Agreement, You agree to be bound by
                the Agreement as varied. </span>
            </p>
            <p class="c11">
              <span class="c6">8.7 </span>
              <span class="c0">Waiver and Exercise of Rights</span>
              <span class="c2">&nbsp;</span>
            </p>
            <p class="c11">
              <span class="c2">8.7.1 A single or partial exercise or waiver of a right relating to this Agreement does not prevent any other
                exercise of that right or the exercise of any other right. </span>
            </p>
            <p class="c11">
              <span class="c2">8.7.2 Subject to clause 5.5, no party will be liable for any loss or expenses incurred by another party caused
                or contributed to by the waiver, exercise, attempted exercise, failure to exercise or delay in the exercise
                of a right. </span>
            </p>
            <p class="c11">
              <span class="c6">8.8 </span>
              <span class="c0">No Relationship</span>
              <span class="c2">&nbsp;</span>
            </p>
            <p class="c11">
              <span class="c2">No party to this document has the power to obligate or bind any other party. Nothing in this document will
                be construed or deemed to constitute a partnership, joint venture or employee, employer or representative
                relationship between any of the parties. </span>
            </p>
            <p class="c11">
              <span class="c6">8.9 </span>
              <span class="c0">Survival of Indemnities</span>
              <span class="c2">&nbsp;</span>
            </p>
            <p class="c11">
              <span class="c2">Each indemnity in this document is a continuing obligation, separate and independent from the other obligations
                of the parties and survives termination of this document. </span>
            </p>
            <p class="c11">
              <span class="c6">8.10 </span>
              <span class="c0">Enforcement of Indemnities</span>
              <span class="c2">&nbsp;</span>
            </p>
            <p class="c11">
              <span class="c2">It is not necessary for a party to incur expense or make payment before enforcing a right of indemnity conferred
                by this document. </span>
            </p>
            <p class="c11">
              <span class="c6">8.11 </span>
              <span class="c0">No Merger</span>
              <span class="c2">&nbsp;</span>
            </p>
            <p class="c11">
              <span class="c2">The warranties, undertakings, agreements and continuing obligations in this document do not merge on completion.
              </span>
            </p>
            <p class="c11">
              <span class="c6">8.12 </span>
              <span class="c0">Rule of Construction</span>
              <span class="c2">&nbsp;</span>
            </p>
            <p class="c11">
              <span class="c2">In the interpretation of this document, no rule of construction applies to the disadvantage of the party preparing
                the document on the basis that it put forward this document or any part of it. </span>
            </p>
            <p class="c11">
              <span class="c6">8.13 </span>
              <span class="c0">Interpretation</span>
              <span class="c2">&nbsp;</span>
            </p>
            <p class="c11 c19">
              <span class="c2">In this Agreement, a reference to a statute includes regulations under it and consolidations, amendments, re-enactments
                or replacements of any of them.</span>
            </p>
            <p class="c3">
              <span class="c7 c0"></span>
            </p>
            <p class="c11">
              <span class="c0">9. DEFINITIONS </span>
            </p>
            <p class="c11">
              <span class="c2">In these terms and conditions, unless expressed or implied to the contrary: </span>
            </p>
            <p class="c11">
              <span class="c0">TTGVT5</span>
              <span class="c2">&nbsp;means this document and includes all Schedules and Annexures to it. </span>
            </p>
            <p class="c11">
              <span class="c2">Online Auction Sales Terms and Conditions means the terms and conditions under which Auction Sales under this
                Agreement will be conducted as set out in Annexure A. </span>
            </p>
            <p class="c3">
              <span class="c2"></span>
            </p>
            <p class="c11">
              <span class="c0">Auction Sale</span>
              <span class="c2">&nbsp;means a sale or prospective sale by auction of an Item conducted by way of the Online Sales System in
                accordance with this Agreement including the Online Sales Terms and Conditions. </span>
            </p>
            <p class="c17">
              <span class="c0">Australian Consumer Law</span>
              <span class="c2">&nbsp;means the Australian Consumer Law set out in Schedule 2 of the Competition and Consumer Act 2010 (Cth).</span>
            </p>
            <p class="c4">
              <span class="c0">Bid:</span>
              <span class="c2">&nbsp;means an offer to purchase an Item at a specified price in an Auction Sale. </span>
            </p>
            <p class="c4">
              <span class="c0">Bidder: </span>
              <span class="c2">means a person who has made or purported to make a Bid. </span>
            </p>
            <p class="c4">
              <span class="c0">Business Day:</span>
              <span class="c2">&nbsp;means a day that is not a Saturday, Sunday, public holiday or bank holiday in ___, Australia. </span>
            </p>
            <p class="c4">
              <span class="c0">Buyer Administration:</span>
              <span class="c2">&nbsp;Fee also referred to as Buyer Auction Fees means fees payable by Buyer on successful bid </span>
            </p>
            <p class="c4">
              <span class="c0">Item</span>
              <span class="c2">&nbsp;means any good made available for purchase by Auction Sale or Tender Sale under the terms of this Agreement.
                . </span>
            </p>
            <p class="c4">
              <span class="c0">Offer</span>
              <span class="c2">&nbsp;means a response to a Tender. </span>
            </p>
            <p class="c4">
              <span class="c0">Online Sales Terms and Conditions: </span>
              <span class="c2">&nbsp;means the terms and conditions under which Auction Sales under this Agreement will be conducted as set
                out in Annexure A. </span>
            </p>
            <p class="c4">
              <span class="c0">Online Sales System:</span>
              <span class="c6">&nbsp;means the online system used by </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c2">to perform Sales online. </span>
            </p>
            <p class="c4">
              <span class="c0">Online Tender Sales Terms and</span>
              <span class="c6">&nbsp;</span>
              <span class="c0">Conditions:</span>
              <span class="c2">&nbsp;means the terms and conditions under which Tender Sales under this Agreement will be conducted as set
                out in Annexure A. </span>
            </p>
            <p class="c4">
              <span class="c0">Registered Bidder:</span>
              <span class="c6">&nbsp;means a person who has agreed to be bound by the terms of this Agreement and been accepted by </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c2">to participate in Sales under clause 2. </span>
            </p>
            <p class="c4">
              <span class="c0">Sale:</span>
              <span class="c2">&nbsp;means a sale, agreement to sell or prospective sale of an Item by Auction Sale or Tender Sale under this
                Agreement.
              </span>
            </p>
            <p class="c4">
              <span class="c0">Sale Process:</span>
              <span class="c6">&nbsp;means the process by which an Auction Sale or Tender Sale is conducted until the successful buyer&rsquo;s
                Bid or Tender (if any) is accepted by or on behalf of the Seller of the Item or the Item is withdrawn by
                </span>
              <span class="c0">JUS BID LIVE</span>
              <span class="c2">. </span>
            </p>
            <p class="c4">
              <span class="c0">Security Interest:</span>
              <span class="c2">&nbsp;means &lsquo;security interest&rsquo; as defined in the Personal Property Securities Act 2009 (Cth) and
                any regulations under that Act. </span>
            </p>
            <p class="c4">
              <span class="c0">Seller:</span>
              <span class="c2">&nbsp;means the person selling an Item. </span>
            </p>
            <p class="c4">
              <span class="c0">Tender:</span>
              <span class="c2">&nbsp;means an offer to purchase an Item at a specified price in a Tender Sale. </span>
            </p>
            <p class="c4">
              <span class="c0">Tender Sale:</span>
              <span class="c2">&nbsp;means a sale or prospective sale of an Item by tender conducted by way of the Online Sales System in
                accordance with this Agreement including the Online Sales Terms and Conditions. </span>
            </p>
            <p class="c4">
              <span class="c0">You and your: </span>
              <span class="c2">means the user of the website or the person using the Online Sales System including, without limitation, a
                Registered Bidder. </span>
            </p>
            <p class="c17">
              <span class="c0">Website</span>
              <span class="c6">: means this Website, located at the uniform resource locator </span>
              <span>
                <a href="https://www.justbidlive.com">https://www.justbidlive.com</a> 
              </span>           
              <span class="c2">and includes any part of this website.</span>
            </p>
            <p class="c17">
              <span class="c0">GST:</span>
              <span class="c2">&nbsp;Goods and services taxes </span>
            </p>
            <p class="c4">
              <span class="c0">ANNEXURE A &ndash; ONLINE AUCTION SALES TERMS AND CONDITIONS </span>
            </p>
            <p class="c17">
              <span class="c2">Unless otherwise defined, a defined term in these Online Auction Sales Terms and Conditions has the same meaning
                given to it in the Terms and Conditions for Online Bidding &amp; Sales.</span>
            </p>
            <p class="c4">
              <span class="c0">CONDUCT OF SALE </span>
            </p>
            <p class="c4">
              <span class="c2">1. Registered Bidders may submit Bids for Items offered for Auction Sale by proxy set prior to, or during the
                auction period Sales Process by using the Online Sales System. This is performed on this Website by submitting
                a &ldquo;Submit Bid&rdquo; request. </span>
            </p>
            <p class="c4">
              <span class="c2">2. By submitting a bid at an auction, the Bidder accepts and agrees to be bound by this Agreement and any special
                conditions announced by the Auctioneer prior to the auction. </span>
            </p>
            <p class="c4">
              <span class="c2">3. A Bid will only be accepted by the auctioneer if it is higher than the preceding Bid. </span>
            </p>
            <p class="c17">
              <span class="c6">4. The Online Sales System may incorporate a proxy bidding facility. The proxy bidding facility allows Registered
                Bidders to enter a maximum Bid amount for a particular Item, and an incremental Bid amount which the proxy
                bidding facility will automatically submit, to the Online Sales System on the Registered Bidder&rsquo;s behalf
                in response to a higher Bid submitted by another Bidder for that Item, until the maximum Bid amount specified
                by the Registered Bidder is reached</span>
              <span class="c28 c6">.</span>
            </p>
            <p class="c17">
              <span class="c6">5. Each Bid constitutes an irrevocable offer by the Bidder to purchase the Item at the specified price which
                may be accepted or rejected by the Seller or </span>
              <span class="c0">JUS BID LIVE</span>
              <span class="c6">. Once an official Bid has been made, it cannot be revoked and remains open for acceptance by the Seller or
                </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c6">until the Sale Process is completed, despite any subsequent higher Bid being made. </span>
            </p>
            <p class="c11">
              <span class="c2">6. All Bids submitted must be bona fide and must not be fixed or adjusted in collusion (or otherwise in accordance
                with any arrangement or agreement) with any third party (including but not limited to providing information
                relating to intended Bids or attempting to manipulate the Sale Process in any way, or otherwise contravene
                or attempt to contravene Part IV of the Competition and Consumer Act 2010 (Cth)). </span>
            </p>
            <p class="c11">
              <span class="c6">7. A Bid is taken to be a representation and warranty by the Bidder that the Bid is a genuine offer to purchase
                the Item at the price specified. If any member of the </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c6">Group becomes aware of any form of collusive activity by a Registered Bidder, </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c6">may terminate the Registered Bidder&rsquo;s right to participate in the Sale Process, or if the Registered
                Bidder&rsquo;s Bid has been accepted by </span>
              <span class="c0">JUS BID LIVE</span>
              <span class="c6">, </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c2">may terminate any contracts that were entered into by the Registered Bidder relating to the Bid. </span>
            </p>
            <p class="c11">
              <span class="c6">8. The auction period for an Item is completed upon the acceptance and declaration by </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c2">of the highest Bid, whether by fall of the hammer or otherwise at the time and date nominated for that Item
                in the Online Sales System (Auction Close). </span>
            </p>
            <p class="c11">
              <span class="c6">9. The Bidder submitting the Bid which at the end of the auction period is accepted and declared the highest
                bid, will be the buyer at the price specified in the Bid, subject to Seller acceptance. If any dispute arises
                as to the last or highest Bidder, </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c2">at its sole discretion, may auction or re sell the item again or negotiate with the next highest Bidder. </span>
            </p>
            <p class="c11">
              <span class="c6">10. </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c6">may hold a Bid and refer such a bid to the Seller before acceptance. </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c2">reserves the right to further negotiate with the highest Bidder. </span>
            </p>
            <p class="c11">
              <span class="c2">11. All Bid prices are GST inclusive unless the owner of the Items is not registered or required to be registered
                for GST (in which case no GST is payable on the sale of the Item). Items to be sold on behalf of owners not
                registered or required to be registered for GST will be separately identified in the Online Sales System.
                </span>
            </p>
            <p class="c17">
              <span class="c6">12. </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c2">may refuse to accept any Bid or withdraw any Item from the Auction Sale.</span>
            </p>
            <p class="c11">
              <span class="c0">PAYMENT AND DELIVERY </span>
            </p>
            <p class="c11">
              <span class="c6">13. All buyers must at the conclusion of the auction period pay the purchase price via the payment system &nbsp;Direct
                Debit, or Credit Card one Business Day after the sale (Completion). </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c6">may deduct the deposit from the credit card provided at the time of registration. The deduction may occur immediately
                after the auction. If the Bidder fails to make full payment by 4.00pm one Business Day after the sale, </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c6">may charge and the Bidder must pay to </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c6">a reasonable late payment fee that reflects the costs incurred by </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c2">as a result of the late payment. </span>
            </p>
            <p class="c11">
              <span class="c6">14. In the case of non-payment of such deposit by a Bidder (Defaulter), the Item or Items may, at the option
                of </span>
              <span class="c0">JUS BID LIVE</span>
              <span class="c6">, be auctioned or resold and </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c2">may in its discretion, refuse to accept any Bid made by the Defaulter. </span>
            </p>
            <p class="c11">
              <span class="c6">15. A buyer&rsquo;s administration fee (also referred to as buyer auction fee) and other fees may be payable
                by the buyer on Items sold by </span>
              <span class="c0">JUS BID LIVE</span>
              <span class="c2">. The buyer&rsquo;s administration fee and other fees applicable to an Item are described in the Online Sales
                System. Where a fixed dollar amount is specified, the buyer&rsquo;s administration fee and other fees are
                inclusive of GST. Where a percentage is noted, the buyer&rsquo;s administration fee is inclusive of GST and
                will be calculated on the purchase price of the Item. </span>
            </p>
            <p class="c8 c19 c12">
              <span class="c2">16. Stamp duty is to be paid by the buyers where and when applicable under the relevant law.</span>
              <span class="c5 c6">&nbsp;</span>
            </p>
            <p class="c8 c19 c12">
              <span class="c2">17. Title in the Item or any part thereof shall not be eligible to pass to the buyer until </span>
              <span class="c7 c0">JUS BID LIVE </span>
              <span class="c2">receives clear funds on the full payment for the Item from the buyer. Full payment is due and payable by 4:00pm
                one Business Day after auction. A failure to make full payment by 4:00pm one Business Day after auction may
                incur a late payment fee. </span>
            </p>
            <p class="c4">
              <span class="c6">18. Risk of damage to, and loss or destruction of, the Item shall pass to the buyer immediately on the acceptance
                and declaration by </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c6">of the highest Bid, whether by fall of the hammer or otherwise at the time and date nominated for that Item
                by </span>
              <span class="c0">JUS BID LIVE</span>
              <span class="c6">. Subject to clause 5.5, neither the Seller nor </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c2">shall be accountable for any deficiency, damage or loss, which may arise thereafter. </span>
            </p>
            <p class="c4">
              <span class="c6">19. The buyer will not be allowed to collect an Item or any part of an Item until </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c6">has clear funds in accordance with paragraph 17 of this Annexure A. All Items must be removed from the nominated
                storage premises by the buyer no later than 4.00pm one Business Day after Completion. Storage charges (that
                reflects the costs incurred by </span>
              <span class="c0">JUS BID LIVE</span>
              <span class="c2">as a result of the late collection) may apply on Items which remain uncollected after 4.00pm one Business Day
                after Completion. </span>
            </p>
            <p class="c4">
              <span class="c2">20. The Registered Bidder is responsible for the payment of all delivery charges, if applicable. </span>
            </p>
            <p class="c4">
              <span class="c6">21. If a Registered Bidder fails to comply with any of the terms and conditions in this Annexure A, any contractual
                right to be repaid for any money deposited by the Registered Bidder in part payment pursuant to paragraph
                13 of this Annexure A shall be forfeited and all Items may be resold. The defaulting Registered Bidder will
                reimburse
              </span>
              <span class="c0">JUS BID LIVE </span>
              <span class="c2">for all costs and charges consequent upon such resale. </span>
            </p>
            <p class="c8 c19 c12">
              <span class="c5 c6">22</span>
              <span class="c2">. At any time </span>
              <span class="c5 c0">JUS BID LIVE </span>
              <span class="c2">may, without any demand or notice, set off and apply any money deposited by the Registered Bidder pursuant
                to paragraph 13 of this Annexure A or any other indebtedness it owes to a Registered Bidder against any money
                owing to it by a Registered Bidder under this Agreement, whether or not the amount owed by </span>
              <span class="c5 c0">JUS BID LIVE </span>
              <span class="c2">or a Registered Bidder is immediately payable. The Registered Bidder irrevocably </span>
              <span class="c5 c6">authorizes</span>
              <span class="c2">&nbsp;</span>
              <span class="c5 c0">JUS BID LIVE </span>
              <span class="c2">to do anything necessary for that purpose.</span>
              <span class="c5 c0">&nbsp;</span>
            </p>
            <p class="c24">
              <span class="c5 c25"></span>
            </p>
            <p class="c8 c19 c12">
              <span class="c7 c0">CANCELLATION DUE TO ERROR </span>
            </p>
            <p class="c8">
              <span class="c5 c6">23. </span>
              <span class="c5 c0">JUS BID LIVE </span>
              <span class="c5 c6">has the right to cancel any purchase transaction due to error even if the purchase price of the Item has been
                paid.
              </span>
              <span class="c5 c0">JUS BID LIVE </span>
              <span class="c5 c6">may exercise this right up until the time the buyer collects the Item(s). If </span>
              <span class="c5 c0">JUS BID LIVE </span>
              <span class="c5 c6">exercises this right, </span>
              <span class="c0 c5">JUS BID LIVE</span>
              <span class="c5 c6">will refund to the buyer any purchase price that the buyer has paid.</span>
            </p>
            <p class="c24">
              <span class="c5 c25"></span>
            </p>
            <p class="c33">
              <span class="c7 c0">BANNED GOODS</span>
            </p>
            <p class="c14">
              <span class="c7 c0"></span>
            </p>
            <p class="c32">
              <span class="c7 c0">These items may only be listed on JUS BID LIVE under certain conditions:</span>
            </p>
            <p class="c14">
              <span class="c0 c7"></span>
            </p>
            <ul class="c1 lst-kix_list_1-0 start">
              <li class="c10">
                <span class="c2">Adult items ( SEX TOYS,AND SEX ACCESSORIES)</span>
              </li>
            </ul>
            <p class="c14 c26">
              <span class="c2"></span>
            </p>
            <ul class="c1 lst-kix_list_1-0">
              <li class="c10">
                <span class="c2">Alcohol</span>
              </li>
            </ul>
            <p class="c14">
              <span class="c2"></span>
            </p>
            <ul class="c1 lst-kix_list_1-0">
              <li class="c10">
                <span class="c2">Animals and wildlife products</span>
              </li>
            </ul>
            <p class="c14">
              <span class="c2"></span>
            </p>
            <ul class="c1 lst-kix_list_1-0">
              <li class="c10">
                <span class="c2">Antiques, cultural items and grave-related items</span>
              </li>
            </ul>
            <p class="c29" id="h.gjdgxs">
              <span class="c2"></span>
            </p>
            <ul class="c1 lst-kix_list_1-0">
              <li class="c10">
                <span class="c2">Charity or fundraising listings</span>
              </li>
            </ul>
            <p class="c14">
              <span class="c2"></span>
            </p>
            <ul class="c1 lst-kix_list_1-0">
              <li class="c10">
                <span class="c2">Clothing, used</span>
              </li>
            </ul>
            <p class="c14">
              <span class="c2"></span>
            </p>
            <ul class="c1 lst-kix_list_1-0">
              <li class="c10">
                <span class="c2">Contracts</span>
              </li>
            </ul>
            <p class="c14">
              <span class="c2"></span>
            </p>
            <ul class="c1 lst-kix_list_1-0">
              <li class="c10">
                <span class="c2">Cosmetics, used</span>
              </li>
            </ul>
            <p class="c14">
              <span class="c2"></span>
            </p>
            <ul class="c1 lst-kix_list_1-0">
              <li class="c10">
                <span class="c2">Counterfeit currency and stamps</span>
              </li>
            </ul>
            <p class="c14">
              <span class="c2"></span>
            </p>
            <ul class="c1 lst-kix_list_1-0">
              <li class="c10">
                <span class="c2">Credit cards</span>
              </li>
            </ul>
            <p class="c14">
              <span class="c2"></span>
            </p>
            <ul class="c1 lst-kix_list_1-0">
              <li class="c10">
                <span class="c2">Digitally delivered goods</span>
              </li>
            </ul>
            <p class="c14">
              <span class="c2"></span>
            </p>
            <ul class="c1 lst-kix_list_1-0">
              <li class="c10">
                <span class="c2">Electrical and electronics equipment- examples include cable TV de-scramblers, raders scanners, and traffic
                  signal control device </span>
              </li>
            </ul>
            <p class="c14">
              <span class="c2"></span>
            </p>
            <ul class="c1 lst-kix_list_1-0">
              <li class="c10">
                <span class="c2">Event tickets</span>
              </li>
            </ul>
            <p class="c14">
              <span class="c2"></span>
            </p>
            <ul class="c1 lst-kix_list_1-0">
              <li class="c10">
                <span class="c2">Food and health care items </span>
              </li>
            </ul>
            <p class="c14">
              <span class="c2"></span>
            </p>
            <ul class="c1 lst-kix_list_1-0">
              <li class="c10">
                <span class="c2">firearms, weapon, and knives- examples include pepper spray, replicas and stun &nbsp;guns </span>
              </li>
            </ul>
            <p class="c14">
              <span class="c2"></span>
            </p>
            <ul class="c1 lst-kix_list_1-0">
              <li class="c10">
                <span class="c2">Football tickets</span>
              </li>
            </ul>
            <p class="c14">
              <span class="c2"></span>
            </p>
            <ul class="c1 lst-kix_list_1-0">
              <li class="c10">
                <span class="c2">Gift cards </span>
              </li>
            </ul>
            <p class="c14 c34">
              <span class="c2"></span>
            </p>
            <ul class="c1 lst-kix_list_1-0">
              <li class="c10">
                <span class="c2">Government, transit, and shipping related items - examples include airplane operation material, &nbsp;subway
                  employee, and AUSRALIAN POSTAL SERVICES MAILBAGS </span>
              </li>
            </ul>
            <p class="c14">
              <span class="c2"></span>
            </p>
            <ul class="c1 lst-kix_list_1-0">
              <li class="c10">
                <span class="c2">Hazardous, restricted, or regulated &nbsp;materials- examples include batteries, fireworks, and refrigerants</span>
              </li>
            </ul>
            <p class="c14 c26">
              <span class="c2"></span>
            </p>
            <ul class="c1 lst-kix_list_1-0">
              <li class="c10">
                <span class="c2">Human parts and remains</span>
              </li>
            </ul>
            <p class="c14 c35">
              <span class="c2"></span>
            </p>
            <ul class="c1 lst-kix_list_1-0">
              <li class="c10">
                <span class="c2">lottery tickets </span>
              </li>
            </ul>
            <p class="c14 c27">
              <span class="c2"></span>
            </p>
            <ul class="c1 lst-kix_list_1-0">
              <li class="c10">
                <span class="c2">mailing lists and personal information &nbsp; </span>
              </li>
            </ul>
            <p class="c14">
              <span class="c2"></span>
            </p>
            <ul class="c1 lst-kix_list_1-0">
              <li class="c10">
                <span class="c2">medical drugs, device, and healthcare- examples include prescription drugs, contact lenses, pacemakers, and
                  surgical instrument
                </span>
              </li>
            </ul>
            <p class="c14">
              <span class="c2"></span>
            </p>
            <ul class="c1 lst-kix_list_1-0">
              <li class="c10">
                <span class="c2">multi-level marketing, pyramid, and &nbsp;matrix programs &nbsp;</span>
              </li>
            </ul>
            <p class="c14">
              <span class="c2"></span>
            </p>
            <ul class="c1 lst-kix_list_1-0">
              <li class="c10">
                <span class="c2">pesticides </span>
              </li>
            </ul>
            <p class="c14">
              <span class="c2"></span>
            </p>
            <ul class="c1 lst-kix_list_1-0">
              <li class="c10">
                <span class="c2">police-related items</span>
              </li>
            </ul>
            <p class="c14">
              <span class="c2"></span>
            </p>
            <ul class="c1 lst-kix_list_1-0">
              <li class="c10">
                <span class="c2">Plants and seeds</span>
              </li>
            </ul>
            <p class="c14">
              <span class="c2"></span>
            </p>
            <ul class="c1 lst-kix_list_1-0">
              <li class="c10">
                <span class="c2">Postage meters</span>
              </li>
            </ul>
            <p class="c14">
              <span class="c2"></span>
            </p>
            <ul class="c1 lst-kix_list_1-0">
              <li class="c10">
                <span class="c2">Property</span>
              </li>
            </ul>
            <p class="c14">
              <span class="c2"></span>
            </p>
            <ul class="c1 lst-kix_list_1-0">
              <li class="c10">
                <span class="c2">prescription drugs</span>
              </li>
            </ul>
            <p class="c14">
              <span class="c2"></span>
            </p>
            <ul class="c1 lst-kix_list_1-0">
              <li class="c10">
                <span class="c2">prohibited services</span>
              </li>
            </ul>
            <p class="c14">
              <span class="c2"></span>
            </p>
            <ul class="c1 lst-kix_list_1-0">
              <li class="c10">
                <span class="c2">Recalled items</span>
              </li>
            </ul>
            <p class="c14">
              <span class="c2"></span>
            </p>
            <ul class="c1 lst-kix_list_1-0">
              <li class="c10">
                <span class="c2">slot machine</span>
              </li>
            </ul>
            <p class="c14 c20">
              <span class="c2"></span>
            </p>
            <ul class="c1 lst-kix_list_1-0">
              <li class="c10">
                <span class="c2">stamps </span>
              </li>
            </ul>
            <p class="c14">
              <span class="c2"></span>
            </p>
            <ul class="c1 lst-kix_list_1-0">
              <li class="c10">
                <span class="c2">stolen property</span>
              </li>
            </ul>
            <p class="c14">
              <span class="c2"></span>
            </p>
            <ul class="c1 lst-kix_list_1-0">
              <li class="c10">
                <span class="c2">Stocks and other securities</span>
              </li>
            </ul>
            <p class="c14">
              <span class="c2"></span>
            </p>
            <ul class="c1 lst-kix_list_1-0">
              <li class="c10">
                <span class="c2">surveillance equipment</span>
              </li>
            </ul>
            <p class="c14 c20">
              <span class="c2"></span>
            </p>
            <ul class="c1 lst-kix_list_1-0">
              <li class="c10">
                <span class="c2">Tobacco</span>
              </li>
            </ul>
            <p class="c14">
              <span class="c2"></span>
            </p>
            <ul class="c1 lst-kix_list_1-0">
              <li class="c10">
                <span class="c2">Travel</span>
              </li>
            </ul>
            <p class="c14">
              <span class="c2"></span>
            </p>
            <ul class="c1 lst-kix_list_1-0">
              <li class="c10">
                <span class="c2">Unlocking software</span>
              </li>
            </ul>
            <p class="c14">
              <span class="c2"></span>
            </p>
            <ul class="c1 lst-kix_list_1-0">
              <li class="c10">
                <span class="c2">weeds(plants and seeds)</span>
              </li>
            </ul>
            <p class="c17 c30">
              <span class="c6 c28"></span>
            </p>
          </div>
        </div>
      </div>

      <%-include('../Common/footer')%>
  </div>
</body>

<!--Head include!-->
<%-include('../Common/scripts')%>

</html>