
<!DOCTYPE html>
<html>

  <!--Head include!-->
  <%-include('../Common/head')%>
  <link rel="stylesheet" href="../UserAssets/css/product.css">
  <link rel="stylesheet" href="../GeneralAssets/css/responsive.css">

  <body>

    <div class="content">
      <!--Menu include!-->
      <%-include('../Common/menu', { page : pageName })%>

      <div class="exactly path">
        <div class="ui breadcrumb">
          <a href="/" class="section">Stock</a>
          <span class="divider">/</span>
          <a href="/" class="section">Women Clothes</a>
          <span class="divider">/</span>
          <a href="/" class="section">Dresses</a>
          <span class="divider">/</span>
          <div class="active section">Gray shirt</div>
        </div>
      </div>

      <div class="row exactly products">
        <div class="col-md-4 col-lg-4">
          <div class="exactly aller">
            <div class="exactly wrapper">
              <div class="exactly image">
                  <div class="ui text shape">
                    <div class="sides">
                      <div id="Short" class="ui header side active">
                        <img src="https://s-media-cache-ak0.pinimg.com/736x/fb/60/90/fb6090f6808037dd4aedb50f0cfbc7d8.jpg" alt="">
                      </div>
                      <div id="Grey" class="ui header side">
                        <img src="https://img1.etsystatic.com/107/1/5609612/il_340x270.992188973_g9u7.jpg" alt="">
                      </div>
                      <div id="Flower" class="ui header side">
                        <img src="https://s-media-cache-ak0.pinimg.com/736x/6a/ec/33/6aec33cb400c584df22c82f878db3db4.jpg" alt="">
                      </div>
                    </div>
                  </div>
              </div>
              <div class="exactly controlls">
                <div class="ui icon button" id="previous_slide">
                  <i class="angle left  icon"></i>
                </div>
                <div class="ui icon button" id="next_slide">
                  <i class="angle right icon"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8 col-lg-8">
            <div class="exactly description">
                <div class="header">Grey shirt</div>
                <div class="description">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                  sed do eiusmod tempor incididunt ut labore et dolore magna
                  aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                  ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </div>
            </div>
            <div class="exactly cost">
                  <div class="exactly price">
                      <span class="labeler">Current price :</span>

                      <i class="fa fa-usd" aria-hidden="true"></i>
                      <span id="price"> 200</span>
                  </div>
                  <div class="exactly seller">
                      <span class="labeler">Seller :</span>
                      <a href="/seller/id" id="seller"> Dan </a>
                  </div>
            </div>

            <h4 class="ui fitted divider widther "></h4>
            <div class="exactly options">
              <div class="types">
                <div class="option">
                  <span class="labeler">  <i class="paint brush icon"></i> Color :</span>
                  <div id="color" class="ui fluid selection dropdown ">
                    <span class="default text">Select color</span>
                    <div class="menu">
                      <div class="scrolling menu">

                        <div class="item"  data-value="Short">
                          <div class="ui black empty circular label"></div>
                          Short
                        </div>
                        <div class="item"  data-value="Grey">
                          <div class="ui empty circular label" style="color:#b3b3b3;"></div>
                          Grey
                        </div>
                        <div class="item"  data-value="Flower">
                          <div class="ui red empty circular label"></div>
                          Flower
                        </div>

                      </div>
                    </div>
                  </div>
                </div>             
            
                <div class="option">
                  <span class="labeler">  <i class="compress icon"></i> Size :</span>
                  <div id="size" class="ui fluid selection dropdown">
                    <div class="default text">Select size</div>
                    <div class="menu">
                      <div class="item" data-value="Extra Small">
                        Extra Small
                      </div>
                      <div class="item" data-value="Small">
                        Small
                      </div>
                      <div class="item" data-value="Medium">
                        Medium
                      </div>
                      <div class="item" data-value="Large">
                        Large
                      </div>
                      <div class="item" data-value="Extra large">
                        Extra large
                      </div>
                    </div>
                  </div>
                </div>                
              </div>
              <div class="option">
                  <span class="labeler">  <i class="hashtag icon"></i> Quantity :</span>
                  <div class="ui input">
                    <input type="number" value="1" min="1" max="99" id="quantity">
                  </div>
              </div>             
              <div class="option empty"></div>
              <div class="option">
                <span class="labeler">  <i class="shipping icon"></i> Shipping : </span>
                <span class="info">   <i class="fa fa-usd" aria-hidden="true"></i> 25</span>
              </div>
              <div class="option">
                <span class="labeler">  <i class="protect icon"></i> Guarantee :</span>
                <span class="info"> 12 month </span>
              </div>
            </div>
            <div class="exactly types">
                <div id="cart" class="ui exactly submit button" data-id="12333"><i class="add cart icon"></i> Add to cart</div>
            </div>

            <div class="exactly statistic">
              <h4 class="ui horizontal divider header widther">Statistics</h4>
              <div class="exactly stats">
                <div class="ui tiny statistics">
                  <div class="statistic">
                    <div class="value">
                      <i class="plane icon fly"></i>22
                    </div>
                    <div class="label">
                      Product sales
                    </div>
                  </div>
                  <div class="statistic">
                    <div class="value">
                      <i class="heart icon loved"></i>45
                    </div>
                    <div class="label">
                      Users whish
                    </div>
                  </div>
                  <div class="statistic">
                    <div class="value">
                      <i class="star icon stared"></i>5
                    </div>
                    <div class="label">
                      Rating
                    </div>
                  </div>
                </div>
              </div>
              <h4 class="ui fitted divider widther"></h4>
            </div>
        </div>

        <div class="col-md-12 col-lg-12">
          <div class="exactly content">
            <div class="ui top attached tabular menu">
                <a class="item active" data-tab="first">Detailed description</a>
                <a class="item" data-tab="second">Comments</a>
                <a class="item" data-tab="third">Shipment</a>
                <a class="item" data-tab="fourth">Guarantees</a>
                <a class="item" data-tab="fifth">Seller</a>
              </div>
              <div class="ui bottom attached tab segment active" data-tab="first">
                Detailed description
              </div>
              <div class="ui bottom attached tab segment" data-tab="second">
                <h4 class="ui fitted divider"></h4>
                <div class="ui comments">
                  <div class="comment">
                    <a class="avatar">
                      <img src="https://semantic-ui.com/images/avatar/small/matt.jpg">
                    </a>
                    <div class="content">
                      <a class="author">Matt</a>
                      <div class="metadata">
                        <span class="date">Today at 5:42PM</span>
                      </div>
                      <div class="text">
                        How artistic!
                      </div>
                      <div class="actions">
                        <a class="report">Report</a>
                      </div>
                    </div>
                  </div>
                  <div class="comment">
                    <a class="avatar">
                      <img src="https://semantic-ui.com/images/avatar/small/elliot.jpg">
                    </a>
                    <div class="content">
                      <a class="author">Elliot Fu</a>
                      <div class="metadata">
                        <span class="date">Yesterday at 12:30AM</span>
                      </div>
                      <div class="text">
                        <p>This has been very useful for my research. Thanks as well!</p>
                      </div>
                      <div class="actions">
                        <a class="report">Report</a>
                      </div>
                    </div>
                  </div>
                  <div class="comment">
                    <a class="avatar">
                      <img src="https://semantic-ui.com/images/avatar/small/joe.jpg">
                    </a>
                    <div class="content">
                      <a class="author">Joe Henderson</a>
                      <div class="metadata">
                        <span class="date">5 days ago</span>
                      </div>
                      <div class="text">
                        Dude, this is awesome. Thanks so much
                      </div>
                      <div class="actions">
                        <a class="report">Report</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="ui bottom attached tab segment" data-tab="third">
                Shipment
              </div>
              <div class="ui bottom attached tab segment" data-tab="fourth">
                Guarantees
              </div>
              <div class="ui bottom attached tab segment" data-tab="fifth">
                Seller
              </div>
          </div>
        </div>
      </div>

      <%-include('../Common/footer')%>
    </div>

    <%-include('../ProductParts/Cart')%>

    <!--Scripts include!-->
    <%-include('../Common/scripts')%>
    <script src="../UserAssets/js/search.js" charset="utf-8"></script>
    <script src="../UserAssets/js/exact.js" charset="utf-8"></script>

  </body>

</html>
